footer {
  width: 100%;
  background: #000!important;
  color: #fff;
  padding: 3rem 2rem;
  font-size: 16px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #34fe98;
}
footer .bottom-text {
  margin-top: 2rem;
}
footer .align-right {
  text-align: right;
  float: right;
  margin: 1rem 0;
}
footer .bottom-links {
  margin: 1rem 0;
  display: inline-block;
  text-align: left;
}
footer .title {
  display: block;
  margin-bottom: 4rem;
}
footer .title h1 {
  max-width: 47.5%;
  font-size: 3.6rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
footer .title p {
  font-size: 1rem;
}
footer ul {
  list-style: none;
  padding: 1.5rem 0 1.5rem 0;
}
footer ul li {
  padding: 0.8rem 0;
}
footer ul li a {
  color: #fff;
}

.flex-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-grid .img-wrap {
  border-bottom: 1px solid #fff;
  width: 100%;
}
.flex-grid img {
  padding-bottom: 1rem;
}
.flex-inner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-inner .col {
  margin-left:0!important;
  margin-right:0!important;
}

.col:nth-child(1) {
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  margin-right: 1rem;
}
.col:nth-child(2) {
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  margin-left: 10rem;
}
.button-group {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.button-group .button {
  text-align: center;
  margin-left: 1.5rem;
  padding: 1.8rem 0;
  width: 100%;
  background-color: #34fe98;
  color:#000;
  font-weight: 600;
  -ms-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  transform: skewX(30deg);
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #33FF99 50%, #37E88F 50%);
  -webkit-transition: background-position 0.3s;
  -moz-transition: background-position 0.3s;
  transition: background-position 0.3s;
  border: #34fe98 .2rem solid;
}

.button-group .button span {
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
  display: inline-block;
  width: 100%;
  font-weight: bold;
}
.button-group .button:hover {
  background-position: -100% -100%;
}
@media(max-width: 1050px){
  .flex-grid, .col {
    display: block;
  }
  .col:nth-child(2) {
    margin-left: 0;
  }
  footer .align-right {
    float: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-wrap {
    margin-top: 4rem;
    margin-bottom: 1rem;;
  }
  footer .bottom-links {
    display: block;
    text-align: center;
  }
  .button-group {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .button-group .button {
    flex-basis: 100%;
    margin: 1rem;
    height:100%;
  }
  footer .title h1 {
    max-width: 1000%;
  }
}

.button-group .download {
  background:transparent;
  border: #34fe98 .2rem solid;
}
.button-group .download span {
  color: #34fe98;
}
